@model CreateGuideCommands
@{
    Layout = "AdminLayout";
}

<h2>Yeni Rehber Ekleme Sayfası</h2>

<form method="post">
    <label>Rehber Adı</label>
    <input type="text" asp-for="Ad" class="form-control" />
    <br />
    <label>Rehber Açıklaması</label>
    <input type="text" asp-for="Aciklama" class="form-control" />
    <br />
    <button class="btn btn-outline-info">Rehberi Ekle</button>
</form>
