<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Rotalar/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Analytics">Tur Rotaları</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Rezervasyonlar/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-restaurant"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Rehberler/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-female-sign"></i>
            <div data-i18n="Analytics">Rehberler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Raporlar/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Analytics">Raporlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Referanslar/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Kullanicilar/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-face"></i>
            <div data-i18n="Analytics">Kullanıcılar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Mail/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxl-mailchimp"></i>
            <div data-i18n="Analytics">Mail Gönder</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Yorum/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/bizeUlasin/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-alt"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-ghost"></i>
            <div data-i18n="CQRS İşlemleri">CQRS İşlemleri</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/VarisNoktalariCQRS/Index/" class="menu-link">
                    <div data-i18n="CQRS İşlemleri">CQRS İşlemleri</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/RehberlerMediatR/Index/" class="menu-link">
                    <div data-i18n="MediatR İle CQRS">MediatR İle CQRS</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-film"></i>
            <div data-i18n="Api İşlemleri">Api İşlemleri</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/ZiyaretciApi/Index/" class="menu-link">
                    <div data-i18n="Api İşlemleri">Api İşlemleri</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/MovieApi/Index/" class="menu-link">
                    <div data-i18n="Movie Api İşlemleri">Movie Api İşlemleri</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/BookingOtelSearch/Index/" class="menu-link">
                    <div data-i18n="Hotel Api İşlemleri">Hotel Api İşlemleri</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/ExchangeApi/Index/" class="menu-link">
                    <div data-i18n="Booking Api İşlemleri">Booking Api İşlemleri</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="/Admin/Sehir/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-ghost"></i>
            <div data-i18n="Analytics">Ajax İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Duyurular/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-brightness"></i>
            <div data-i18n="Analytics">Duyurular</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Rol/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-thermometer"></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Login/CikisYap/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>
</ul>