@{
    Layout = "AdminLayout";
}

<h1>Şehir Id Bilgisi Getirme</h1>
<br />
<br />

<form method="post">
    <label>Şehir Adını Giriniz</label>
    <input type="text" class="form-control-color" name="p" />
    <br />
    <button class="btn btn-outline-dark">Şehir Id Getir</button>
</form>