@{
    Layout = "AdminLayout";
}




<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Raporlar</h4>
    <div class="card">
        <h5 class="card-header">Excel Raporları</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <tr>
                    <th>Statik Ecxel Raporları</th>
                    <th>Tur Rotaları Excel Raporları</th>
                </tr>
                <tr>
                    <td><a href="/Admin/Raporlar/StatikExcelRapor/" class="btn btn-outline-info">Statik Excel Raporu</a></td>
                    <td><a href="/Admin/Raporlar/turRotalariExcel/" class="btn btn-outline-primary">Tur Rotaları Excel Raporu</a></td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="card">
        <h5 class="card-header">Pdf Raporları</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <tr>
                    <th>Statik Pdf Raporları</th>
                    <th>Tur Rotaları Excel Raporları</th>
                </tr>
                <tr>
                    <td><a href="/Admin/Raporlar/StatikPdfRapor/" class="btn btn-outline-success">Statik Pdf Raporu</a></td>
                    <td><a href="/Admin/Raporlar/StatikMüsteriRapor/" class="btn btn-outline-warning">Statik Müşteri Pdf Raporu</a></td>
                    <td><a href="/Admin/Raporlar/turRotalariExcel/" class="btn btn-outline-dark">Tur Rotaları Excel Raporu</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
