@model CreateDestinationCommand
@{
    Layout = "AdminLayout";
}

<h2>Yeni Tur Ekleme Sayfası (CQRS)</h2>


<form method="post">
    <label>Şehir Adı</label>
    <input type="text" asp-for="Sehir" class="form-control" />
    <br />
    <label>Gece - Gündüz</label>
    <input type="text" asp-for="GeceGunduz" class="form-control" />
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Fiyat" class="form-control" />
    <br />
    <label>Kapasite</label>
    <input type="text" asp-for="Kapasite" class="form-control" />
    <br />
    <button class="btn btn-outline-dark w-100">Tur Ekle</button>
</form>
