<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>

        </div>
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h6>Aktif rezervasyon sayınız : 4</h6>
                <br />
                <h6>Geçmiş rezervasyon sayınız : 12</h6>
                <br />
                <h6>Onay bekleyen rezervasyon sayınız : 1</h6>
                <br />
                <h6>Toplam rota sayımız : 3</h6>
                <br />
                <h6>Rehber sayımız : 10</h6>
                <br />
                <h6>Topalm misafir sayımız : 1286</h6>
                <br />
                <h6>Ortalama puanımız : 8.97/10</h6>
            </div>
        </div>
    </div>
</div>